@import "~antd/dist/antd.css";

.box {
  display: flex;
  flex-wrap: wrap;
}
.material-icons {
  font-size: 2.4em;
  cursor: pointer;
}
.card {
  width: 300px;
  margin-right: 30px;
}
.card .card-image .card-title {
  color: black;
  font-weight: 400;
}
.cart {
  margin-top: 40px;
}
.collection .collection-item {
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  padding-top: 50px;
  margin-bottom: 20px;
}
.collection .collection-item img {
  width: 150px;
  margin-right: 25px;
}
.item-desc {
  align-self: center;
}

/* Create three equal columns that floats next to each other */
.column {
  display: flex;
  padding-top: 100px;
  padding-right: 200px;
  padding-left: 200px;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}

.right {
  font-size: 60px;
}

.loading .anticon svg {
  font-size: 500px;
  color: yellow;
  margin: 200px 600px;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 500px;
  line-height: 0px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.checkout {
  margin: 50px;
  font-family: "Open Sans Condensed", sans-serif;
}
